.sale-page-content{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.header-upPart{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
  background-color: #fc6;
  padding: 20px;
}

.header-downPart{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffdc96;
  border-bottom: 1px solid #edc471;
}

.header-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffdc96;
}

.show-button{
  color: #fff;
  background-color: #2a81dd;
  box-shadow: 0 2px 4px rgba(28,24,25,.1);
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  border-width: 0;
}

.show-button:hover{
  background-color: #67a3e2;
}

.rooms_number-button{
  width: 25px;
  height: 25px;
  border-radius: 0;
  border: 1px solid #abadb3;
  background-color: #fff;
  font-size: 12px;
}

.rooms_number{
  margin-right: 5px;
}

.header-upPart > .price-label{
  margin-left: 20px;
}

.price-input{
  width: 80px;
  padding: 5px;
  font-size: 12px;
}

.price-inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 10px;
}

.part-form > .input-form > .price-inputs{
  margin-right: 5px;
}

.price-inputs > img{
  width: 30px;
}
.select-form, .input-form, .checkbox-form{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.select-form > select{
  min-width: 100px;
  margin-left: 20px;
}

.header-upPart > .checkbox-form{
  margin-bottom: 0;
}

.header-upPart > .checkbox-form > input{
  border-radius: 0;
  margin-right: 10px;
}

.sale-part{
  width: 70%;
  margin-top: 50px;
}

.part-title{
  font-size: 30px;
}

.found_building-label{
  font-size: 16px;
  color: #333333;
  margin-top: 5px;
}

.building-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.filter-button{
  background: none;
  border: none;
  color: #2a81dd;
  text-decoration: underline;
  padding: 0 10px;
  font-size: 14px;
}


.filter-right{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-upPart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-upPart > img{
  width: 15px;
  fill: #0066CC;
}

.apply-label{
  color: #0066CC;
  text-decoration: underline;
  font-size: 13px;
  margin-left: 5px;
}

.apply-label:hover{
  color: #ff0000;
  text-decoration: none;
}

.apply-sublabel{
  font-size: 11px;
  color: #666666;
  margin-top: 3px;
}


.hot_sale-part{
  width: 30%;
}

.hot_part-title{
  font-size: 17px;
}

.building-content{
  border: solid #ffdd61 2px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.just_sale{
  padding: 20px 40px 20px 20px;
}

.building-content-title{
  font-size: 20px;
  color: #1c1819;
}

.hot_sale-border{
  background-color: #6666661b;
  height: 1px;
  width: 100%;
}